* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: consolas;
  outline: none;
}

body::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;

  opacity: 0.4;
  background: radial-gradient(circle, transparent 20%, #fcfafd 20%, #fcfafd 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #fcfafd 20%, #fcfafd 80%, transparent 80%, transparent) 20px 20px, linear-gradient(#80b0d1 1.6px, transparent 1.6px) 0 -0.8px, linear-gradient(90deg, #80b0d1 1.6px, #fcfafd 1.6px) -0.8px 0;
  background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
}

@font-face {
  font-family: "Pixeled";
  src: url("assets/Pixeled.ttf");
}